footer {
    position: relative;
    bottom: 1px;
    background-color: rgb(38, 36, 36);
    color: white;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 50px;
}

.logo {
    /* margin-left: 25px; */
    width: 250px;
}

.logos {
    filter: invert(1);
}

.logo img {
    height: 100px;
}

.colomn1 {
    width: 215px;
}

.office {
    margin-top: 20px;
    width: 52px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.location ul {
    height: 100px;
    text-decoration: none;
    margin-top: 20px;
    list-style-type: none;
}

.colomn2 {
    width: 100px;
    /* margin-left: 175px; */
}

.links {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 49px;
    border-bottom: 2px solid #ccc;
}

.navitems ul li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.navitems ul li {
    list-style-type: none;
    margin-bottom: 8px;
    margin-top: 15px;
}

/* coloumn3 */
.colomn3 {
    width: 215px;
    /* margin-left: 150px; */
}

.newsletter {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.id {
    margin-left: 10px;
    border-bottom: 2px solid #ccc;
    width: 150px;
}

.mail {
    width: 200px;
    height: 30px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.id input {
    margin-top: -1px;
    margin-right: 50px;
    background: transparent;
    border: 0;
    color: #ccc;
}

.s-media {
    margin-top: 45px;
}

.fa-brands {
    font-size: 24px;
    margin-right: 15px;
    color: white;
}

input:focus{
    border: none;
    outline: none;
}
/* responsive */
@media (width<=970px) {
    footer {
        padding: 50px;
        grid-template-columns: repeat(2, 50%);
    }
}

@media (width<=560px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .colomn2 {
        display: none;
    }

    .colomn1 {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 20px 0px;
    }

    .colomn3 {
        display: inline;
        width: 50%;
    }

    .logo {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (width<=560px) {
    .colomn1 {
        flex-direction: column;
    }

    .s-media {
        width: 200px;
    }
}