@font-face {
    font-family: graphic;
    src: url('Graphik-Regular.ttf');
}

@font-face {
    font-family: means-light;
    src: url('Means-Light-Web.7121f5d6.1.woff2');
}

.header h1 {
    font-size: clamp(20px, 4vw, 50px);
    font-family: means-light;
    text-align: center;
}
li{
    list-style: circle;
    margin: 20px auto;
    
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    text-decoration: underline;
}

.instructions {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.instructions p{
    background: antiquewhite;
}
.container {
    padding: 50px;
    position: relative;
}
.result{
    position: absolute;
    padding: 50px;
    height: 90vh;
    width: 90%;
    border-radius: 20px;
    margin: auto;
    background-color: lightgrey; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
h2,label{
    font-family: graphic;

}
@media(width<600px) {

    h2 {
        font-size: 16px;
    }

    label {
        font-size: 13px;
    }

    .header {
        height: 200px;
    }

    .instructions p{
        padding: 10px;
        font-size: 12px;
    }
    .container{
        padding: 20px;
    }
}